.loginRoot {
  display: flex;
  background-color: #717370;
  height: 100vh;
}

.ground {
  margin: 3% 10% 3% 10%;
  display: flex;
  width: 100%;
  background-color: white;
  border-radius: 25px;
}

.loginPhoto {
  width: 60%;
  height: 100%;
}

.loginImage {
  width: 100%;
  height: 100%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.loginRight {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.loginHeading {
  margin-top: 15%;
  font-size: 4vw;
  margin-bottom: 10px;
}

.welcomeMessage {
  font-size: 2vw;
  margin-top: 10%;
}

.loginForm {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  width: 70%;
}

.forgotPassword {
  display: flex;
  justify-content: flex-end;
  font-size: 1vw;
  margin-bottom: 10px;
  text-decoration: none;
  font-family: sans-serif;
}

.signin {
  background: #e0a1b8;
  width: 50%;
  font-size: 1.5rem;
  border: none;
  border-radius: 20px;
  margin-left: 25%;
  line-height: 2rem;

  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  font-family: sans-serif;
  font-size: 1vw;
  background-color: rgba(240, 85, 85, 0.712);
  padding: 5px 50px 5px 50px;
  border-radius: 10px;
}

.newUser {
  font-size: 1rem;
  text-decoration: none;
}

@media (max-width: 990px) {
  .loginRoot {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .ground {
    display: flex;
    width: 100%;
    background-color: white;
    border-radius: 0;
    flex-direction: column;
    height: 100vh;
    margin: 0;
  }
  .loginPhoto {
    width: 100%;
    height: 30%;
  }
  .loginImage {
    border-radius: 0px;
  }

  .loginRight {
    width: 100%;
    height: 70%;
  }

  .loginHeading {
    margin-top: 0px;
    font-size: 2rem;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .welcomeMessage {
    font-size: 1rem;
    line-height: 2rem;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .forgotPassword {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    line-height: 1rem;
    margin-bottom: 10px;
    text-decoration: none;
    font-family: sans-serif;
  }
  .signin {
    font-size: 0.85rem;
  }
}
