.singleCategory, .categoriesHeading {
    color: black;
}

.singleCategory {
    display: flex;
    height: 2rem;
    align-items: center;
    justify-content: space-between;
}

.categoriesList {
    width: 60%;
    overflow-y: auto;
    height: 100%;
    margin-top: 10px;
}

.categoryFormBackdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.categoryFormContent {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50vh;
    color: white;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    overflow: hidden;
}

.categoryForm {
    display: flex;
    flex-direction: column;
}

.addCategoryButton {
    background-color: #2b5db9;
    padding: 3px 10px;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 1.15rem;
  }
  
  .addCategoryButton:hover {
    background-color: #2b5db9;
    cursor: pointer;
  }

@media screen and (max-width: 992px) {
    .categoryFormContent {
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 50vh;
        color: white;
        padding: 10px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
    }
}