.manageNotesRoot {
  display: flex;
  width: 80%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  justify-content: center;
  align-items: center;
  border-radius: 15px !important;
  
}

.manageNotesForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 15px;
}

.titleInput {
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 15px;
  outline-width: 0;
  border: 1px solid rgb(51, 46, 46);
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.contentInput {
  font-size: 1rem;
  padding: 10px;
  outline-width: 0;
  border-radius: 15px;
  border: 1px solid rgb(51, 46, 46);
  margin-bottom: 5px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.selectCategory {
  font-size: 1rem;
  padding: 3px;
  padding-left: 10px;
  outline-width: 0;
  border-radius: 15px;
  border: 1px solid rgb(51, 46, 46);
  background-color: white;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.addbutton {
  color: white;
  display: flex;
  position: relative;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  justify-content: center;
  align-items: center;
  background-color: #2b5db9;
  border-radius: 25px;
  font-size: 1.25rem;
  line-height: 4vh;
  margin-top: 15px;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.addbutton:hover {
  background-color: #2b5db9;
  cursor: pointer;
}

.manageCategories {
  background-color: #2b5db9;
  color: white;
  border: none;
  font-size: 1.15rem;
  margin-top: 10px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  padding: 5px 10px;
}

.manageCategories:hover {
  background-color: #2b5db9;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .manageCategories {
    width: 90%;
  }
}