.notesContent {
  white-space: pre-line;
  margin-bottom: 10px;
}

.line {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.actionButton {
  border: 0;
  background: transparent;
  height: 50px;
  width: 50px;
  margin-left: 10px;
  border-radius: 50%;
  padding: 10px;
}

.notesIcon {
  height: 1.5rem;
   width: 1.5rem;
}
button:hover {
  background-color: rgb(175, 175, 175);
}

.notesCard {
  border-radius: 15px !important;
  margin-bottom: 1rem;
}

.notesListContainer {
  overflow-x: hidden;
}

.categoriesBarWrapper {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.categoriesBar {
  display: flex;
  white-space: nowrap;
}

.category {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  padding: 5px 10px;
  background-color: transparent;
  border-radius: 15px;
  flex-shrink: 0;
  transition: background-color 0.3s ease;
  color: white;
}

.category.selected {
  background-color: #f0f0f0;
  color: black;
}

.category:hover {
  background-color: #e0e0e0;
  color: black;
}

.categoriesBarWrapper::-webkit-scrollbar {
  display: none;
}

.categoriesBarWrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.notesMessage {
  color: white;
  font-size: large;
  font-weight: 400;
}