.sidebar-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.sidebar-content {
  background-color: rgba(255, 255, 255, 0.616);
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  min-height: 98vh;
  color: #3a4d8f;
  padding: 10px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(4px);
}

.sidebarHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #3a4d8f;
}

.logo {
  height: 7vh;
  width: 7vh;
  border-radius: 25px;
  margin-bottom: 20px;
}

.appName {
  font-size: 5vh;
}

.menu {
  padding: 10%;
  display: flex;
  flex-direction: column;
}

.menuItems {
  padding: 10px;
  font-size: 2rem;
  text-decoration: none;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: #3a4d8f;
}

.horizontalLine {
  width: 80%;
  background-color: #3a4d8f;
  margin-bottom: 1rem;
}

.sidebarIcons {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-right: 10px;
  height: 2rem;
  width: 2rem;
  color: #3a4d8f;
}
.profile {
  width: 3rem;
  height: 3rem;
  padding: 5px 10px;
  z-index: 3;
  margin-left: auto;
  cursor: pointer;
}

.sidebarDisplayName {
  color: #3a4d8f;
  cursor: pointer;
}

.selected .sidebarIcons {
  color: white;
}

.selected {
  background-color: #3a4d8f;
  border-radius: 15px;
  color: white;
}
