.sidebarHeader {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    color: white;
}

.menu {
    padding: 10%;
    display: flex;
    flex-direction: column; 
}

.menuItems {
    padding: 10px;
    font-size: 3vh;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    justify-content: end;
    color: rgb(255, 255, 255);
}

.horizontalLine {
    width: 80%;
    position: relative;
    left: 10%;
    background-color: white;
}

.icons {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-right: 10px;
    height: 3vh;
    width: 3vh;
}

.selected {
    background-color:  rgb(145, 178, 248);
    border-radius: 15px;
    color: rgb(33, 14, 207);
}