.root {
  background: linear-gradient(to right bottom, #172166, #5365db);
  background-size: cover;
  height: 100vh;
  color: rgb(248, 244, 244);
}

.appName {
  color: rgb(43, 37, 99);
  font-size: 2.5vw;
  border-radius: 15px;
  z-index: 3;
}

.menuIcon {
  z-index: 3;
}

.profile {
  width: 4vh;
  height: 4vh;
  padding: 5px 10px;
  z-index: 3;
}

.profileMenuHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.menuProfileImage {
  width: 8vh;
  height: 8vh;
}

.time {
  font-size: 8vw;
  font-weight: 900;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -60%);
  margin-bottom: 10px;
  z-index: 3;
}

.greeting {
  font-size: 6vw;
  font-weight: 700;
  padding: 10px;
  border-radius: 15px;
  font-family: sans-serif;
  -webkit-text-stroke: 2px white;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.name {
  font-size: 3vw;
  font-weight: 500;
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  text-decoration: underline;
}

.quote {
  font-size: 2vw;
  font-weight: lighter;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 10%);
}

.author {
  font-size: 1vw;
  font-weight: lighter;
  position: absolute;
  bottom: 17%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.custom-shape-divider-top-1616160906 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1616160906 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 171px;
}

.custom-shape-divider-top-1616160906 .shape-fill {
  fill: #ffffff6c;
}

.custom-shape-divider-bottom-1616160906 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1616160906 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 171px;
}

.custom-shape-divider-bottom-1616160906 .shape-fill {
  fill: #ffffff6c;
}

.box {
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: black;
}

@media (max-width: 990px) {
  .appName {
    font-size: 3vh;
  }
  .custom-shape-divider-bottom-1616160906 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 12vh;
  }

  .custom-shape-divider-top-1616160906 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 12vh;
  }

  .time {
    width: 100%;
    font-size: 7vh;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    z-index: 3;
  }

  .greeting {
    width: 100%;
    font-size: 6vh;
    display: flex;
    justify-content: center;
  }

  .name {
    width: 100%;
    font-size: 3.5vh;
    display: flex;
    justify-content: center;
  }

  .quote {
    width: 80%;
    font-size: 2vh;
    display: flex;
    justify-content: center;
  }

  .author {
    width: 100%;
    font-size: 1.5vh;
    display: flex;
    justify-content: center;
  }
}
