.root {
  background: linear-gradient(to right bottom, #141d3d, #3a4d8f);
  background-size: cover;
  height: 100vh;
  color: rgb(248, 244, 244);
  overflow: hidden;
  display: flex;
}

.dashboardNavigation {
  width: 20%;
  z-index: 5;
}

.dashboardSection {
  width: 80%;
}

.dashboardMenuIcon {
  display: none;
}

.hidden {
  display: none;
}

.alignLeft {
  margin-left: auto;
}


.menuProfileImage {
  width: 8vh;
  height: 8vh;
}

.welcome {
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 1.5rem;
}

.greetingSection {
  width: 97%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1.5rem;
  padding: 0 1.5rem;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  box-sizing: border-box;
}



.greeting {
  font-size: 3rem;
  font-weight: 700;
  width: 100%;
  display: flex; 
}

.name {
  font-size: 2rem;
  font-weight: 500;
}

.dashboardMessage {
  margin-bottom: 1rem;
  font-weight: 400;
}

.summarySection {
  display: flex;
  width: 100%;
}

.eventsNotesSection {
  width: 70%;
}

.dashboardEventsSection, .dashboardNotesSection {
  border: 2px solid rgba(255, 255, 255, 0.4);
  width: 95%;
  margin: 1rem 1.5rem 1.5rem 1.5rem;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 0 1.5rem;
}

.quickLinksSection {
  border: 2px solid rgba(255, 255, 255, 0.4);
  width: 97%;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 0 1.5rem;
  margin: 0rem 1.5rem 1.5rem 1.5rem;
}

.dashboardTodoSection {
  width: 30%;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  box-sizing: border-box;
  padding: 0 1.15rem;
  margin: 1rem 1.5rem 1.5rem 0rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.dashboardIcon {
  height: 2rem;
  width: 2rem;
  color: white;
}

.singleEvent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.singleNote {
  margin-bottom: 1rem;
  
}

.singleTodo {
  display: flex;
  margin-bottom: 1rem;
}

.todo {
  text-wrap: pretty;
  word-break: break-all;
}


.eventTitle {
  font-size: 1.25rem;
}

.noteTitle {
  font-size: 2rem;
  margin-bottom: 0.75rem;
}

.quickHeading {
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
}

.links {
  margin-bottom: 1rem;
  color: white;
}

.quickLink {
  color: white;
}



@media screen and (max-width: 992px) {
  .root {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    
  }
  .dashboardNavigation {
    padding: 1rem;
  }

  .dashboardSection {
    width: 100%;
  }
  
  .dashboardMenuIcon {
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }

  .greetingSection {
    width: 90%;
  }
  .greeting {
    font-size: 1.15rem;
  }
  .name {
    font-size: 1rem;
  }
  
  .summarySection {
    width: 90%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .eventsNotesSection {
    width: 100%;
  }

  .dashboardEventsSection, .dashboardNotesSection, .dashboardTodoSection{
    width: 100%;
    margin: 1rem 0;
  }

  .quickLinksSection {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
  }
 
}

