@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: "Roboto", serif;
}

#root {
    background-color: #F5F8FF;
}

@theme {
    --color-main: #FF6767;
    --color-green: #05A301;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}