.pomodoroRoot {
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  box-sizing: border-box;
  padding: 0 1rem 1.15rem;
  margin: 1rem 1rem 1rem 0rem;
}

.timerSection {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 0.5rem;
}

.pomodoroHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    margin-top: 1rem;
  }

.icon {
    height: 3rem;
    width: 3rem;
    color: white;
}

.timer {
    font-size: 2rem;
}

.buttonSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.startPauseSeection {
    display: flex;
    justify-content: space-evenly;
}

.resetBreakSection {
    display: flex;
    flex-direction: column;
}

.actionButtons {
    color: white;
    font-size: 1.15rem;
    margin-bottom: 0.5rem;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px 10px;
    text-align: center;
}